html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* start override on theme .. author form**/

.form-floating > .form-select {
    padding-bottom: 0.225rem;
}
    /*end override on theme .. author form**/

/* Start Custom Styles */

.dt-spinner + div {
    display: none !important;
}

.h-70px {
    height: 70px !important;
}

/* End Custom Styles */

